.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
}

.form * {
  margin: 5px 0;
}

.form-title, .form-body {
  width: 600px;
  padding: 15px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  border: 2px solid gray;
}

.form-body {
  height: 200px;
  resize: none;
}

.form-buttons {
  display: flex;
  align-items: center;
  user-select: none;
}

.form-send {
  width: 120px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: teal;
  transition-duration: 140ms;
}

.form-send:hover {
  background-color: rgb(0, 95, 95);
}

#file {
  display: none;
}

.form-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-inline: 10px;
}