.form {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-bottom: 50px;
}

.form button {
  border: none;
  background-color: teal;
  color: white;
}

.form-title,
.form-body,
.form-send {
  font-size: 24px;
  margin: 6.5px 0;
  font-family: 'Raleway', sans-serif;
  border-radius: 6px;
}

.form-title {
  padding: 15px 6.5px;
  width: 100%;
  border: 2px solid teal;
  height: 50px;
}

.form-body {
  padding: 15px 6.5px;
  width: 100%;
  border: 2px solid teal;
  resize: none;
  height: 200px;
}

.form-buttons {
  display: flex;
  align-items: center;
}

.form-buttons * {
  margin-inline: 4px;
}

.form-send {
  width: 150px;
  height: 50px;
  border: 2.5px solid transparent;
  transition-duration: 170ms;
  cursor: pointer;
}

.form-send:hover {
  background-color: white;
  color: teal;
  border: 2.5px solid teal;
}

.form-file {
  display: none;
}

.form-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}